body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: calc(100%-250px);
}
nav{
  display: flex;
  background-color: white;
  width: 60%;
  height: 20%;
}

hr{
  position: absolute;
  width: 68%;
  right: 18%;
  border: 0.2px solid rgb(201, 201, 201);
}

nav h4{
  position: absolute;
  color: rgb(52, 50, 50);
  width: 0;
  height: 0;
  font-weight: 100;

}

.slash{
    margin-left: 6rem;
    display: block;
    width: 0;
    height: 0;
}

.default{
  position: absolute;
  width: 0;
  height: 0;
  margin-left: 7rem;
  font-weight: 300;
}

nav input{
  margin-left: 40rem;
  height: 30px;
  margin-top: 12px;
  border-radius: 6px;
  background-color: whitesmoke;
  border: none;
  width: 200px;
}

.search-icon{

    margin-top: 20px;
    margin-left: -12rem;
}

.star-icon{

  position: absolute;
  margin-top: 24px;
  left: 17%;

}

.side-bar-icon
{
  position: absolute;
  margin-top: 24px;
  left: 15%;
}

.sidebar{
  width: 400px;
  background-color: white;
  padding: 20px;
  height: 100vh;
  position: absolute;
  top: 0;
}

.sidebar h1{
  position: absolute;
  top: 1%;
  color: blueviolet;
}

.vertical-hr-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
    position: absolute;
    top:0%;
    left:50%;
}

.vertical-hr {
    border: none;
    border-left: 0.2px solid rgb(179, 179, 179); /* Adjust thickness and color */
    height: 100vh; /* Adjust height */
}
.sun-icon{
  position: absolute;
  margin-left: 54rem;
  margin-top: 1rem;
}
.time-icon{
  position: absolute;
  margin-left: 56rem;
  margin-top: 1rem;
}
.bell-icon{
   position: absolute;
  margin-left: 58rem;
  margin-top: 1rem;
}

.side-bar-icon2
{
  position: absolute;
  margin-left: 60rem;
  margin-top: 1rem;
}
.right-side-bar{
  display: flex;
  background-color: white;
  width: 18%;
  position: absolute;
  right: 0%;
  top: 0;
  height: 100vh;
}

.vertical-hr-container-right{
  display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
    position: absolute;
    top:0%;
    left:82%;
}
.vertical-hr-right{
    border: none;
    border-left: 0.2px solid rgb(179, 179, 179); /* Adjust thickness and color */
    height: 100vh; /* Adjust height */
}
.sidebar-content{
  display: flex;
  flex-direction: column;
  justify-items: center;
  row-gap: 1em;
}

.sidebar-content span{
  margin-left: 10px;
  position: absolute;
  font-size: small;
  margin-top: 2.5px;
  color: rgb(34, 34, 34);
}
.sidebar-content i{
  font-size: larger;
}

.content-list {
  display: flex;
  align-items: center;
  padding: 10px;
  transition: background-color 0s ease;
  width: 150px;
}

.content-list span{
  margin-left: 30px;
  margin-top: -3px;
}

.content-list i {
  margin-right: 10px;
}

.content-list:hover {
  background-color: #f0f0f0;
  border-radius: 16px;
}
